
@model MvcMasterDetail.Models.Faculty

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Faculty", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Faculty</h4>
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(model => model.FacultyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FacultyName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBoxFor(model => model.CourseStartDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PicPath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Picture" accept="/images*" />
                @Html.ValidationMessageFor(model => model.PicPath, "", new { @class = "text-danger" })
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>StudentName</td>
                    <td>Address</td>
                    <td><input type="submit" value="ADD" name="btn" class="btn btn-success" /></td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Students.Count; i++)
                {
                    <tr>
                        <td>@Html.EditorFor(model => Model.Students[i].StudentName, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.EditorFor(model => Model.Students[i].Address, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td><input type="button" class="btn btn-danger" value="Delete" onclick="Remove(this)" /></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" name="btn" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function Remove(e) {
            e.closest("tr").remove();
        }
    </script>
}

